body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #060606;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    color: #00c6ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 25px;
    border: 2px solid #00c6ff;
    padding: 30px;
    background-color: rgba(0, 198, 255, 0.2);
    border-radius: 15px;
    transition: all 0.4s ease
  }
  
  li:hover {
    transform: scale(1.01);
    border-color: #ff006e;
  }
  
  #characters-container {
    margin-top: 30px;
  }
  
  #characters-container h2 {
    font-size: 24px;
    color: #00c6ff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  #characters-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  #characters-container li {
    margin-bottom: 5px;
    color: #ccc;
  }
  

/* АНИМКА */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.loading {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 6px solid #ffffff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}